# Early Diaries with Python

### Create a Dictionary

In [41]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

# Access to the value by the key

Dict["key1"]

1

In [42]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [43]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
>>> album_sales_dict["Thriller"]
65
>>> album_sales_dict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

In [44]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
>>> album_sales_dict.values()

dict_values([50, 50, 65])

In [45]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
>>> album_sales_dict["Thriller"]

65

### Proof that Lists are mutable, Tuples are not

In [46]:
# a new tuple will be constructed by adding two tuples together as arguments. The original tuple will not be modified. Check this out:

x = (1,2)
y = x
x += (3,)
x

(1, 2, 3)

In [47]:
x = (1,2)
y = x
x += (3,)
y

(1, 2)

In [48]:
# if you were to construct this same example with a list, y would also be updated:

x = [1,2]
y = x
x += (3,)
x

[1, 2, 3]

In [49]:
x = [1,2]
y = x
x += (3,)
y

[1, 2, 3]

### And that Tuples are hashable, Lists are not

In [50]:
# tuple is hashable

x = (1,2)
y = [1,2]
z = {}
z[x] = 3
z

{(1, 2): 3}

In [51]:
# lists are not (hashable)

x = (1,2)
y = [1,2]
z = {}
z[y] = 3
z

TypeError: unhashable type: 'list'

### Sets in Python

In [52]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [53]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [54]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [55]:
music_genres.add("Country")

In [56]:
music_genres

{'Country',
 'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [57]:
music_genres.add("Country")
music_genres

{'Country',
 'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [58]:
music_genres.remove("soul")
music_genres

{'Country',
 'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock'}

In [59]:
"soul" in music_genres

False

In [60]:
"rock" in music_genres

True

In [61]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [62]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [63]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [64]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [65]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [66]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [67]:
# Check if superset

set(album_set2).issuperset(album_set1)

False

In [68]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [69]:
# Check if subset

set(album_set1).issubset(album_set2)

False

In [70]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [71]:
fav_music = ['rap','house','electronic music', 'rap']

In [72]:
set(fav_music)

{'electronic music', 'house', 'rap'}

In [73]:
A = [1, 2, 2, 1]

In [74]:
B = [1, 2, 2, 1]

In [75]:
set(A)

{1, 2}

In [76]:
set(B)

{1, 2}

In [77]:
sum(B)

6

In [78]:
sum(A)

6

In [79]:
#sum of A is equal to sum of B

### If, then, else (elif) and everything else!

In [1]:
# If statements

age = 19

if age > 18:
    
        print("you can enter" )

print("move on")

you can enter
move on

In [3]:
age = 17
if age > 19:
        print("you can enter")
print("move on")

move on

In [4]:
age = 18

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [5]:
# if and else

age = 20

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

you can enter
move on

In [6]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [7]:
age = 17

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [8]:
age = 20

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

you can enter
move on

In [9]:
# Condition statement

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [10]:
# Condition statement

album_year = 1979
album_year = 1986

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

In [11]:
# Condition statement

album_year = 1986

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

In [12]:
# Condition statement with else

album_year = 1983

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [13]:
album_year = 1979

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

In [14]:
# Condition statement with Boolean

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [15]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [17]:
# Condition statement example

album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

In [20]:
album_rating = 8.5
if album_rating > 8:
        print ("This album is Amazing!")
else:
    print("This album is ok")

This album is Amazing!

In [21]:
album_rating = 7.9
if album_rating > 8:
        print ("This album is Amazing!")
else:
    print("This album is ok")

This album is ok

In [23]:

album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print ("this album came out already")

this album came out already