# Early Diaries with Python

### Create a Dictionary

In [41]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

# Access to the value by the key

Dict["key1"]

1

In [42]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [43]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
>>> album_sales_dict["Thriller"]
65
>>> album_sales_dict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

In [44]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
>>> album_sales_dict.values()

dict_values([50, 50, 65])

In [45]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
>>> album_sales_dict["Thriller"]

65

### Proof that Lists are mutable, Tuples are not

In [46]:
# a new tuple will be constructed by adding two tuples together as arguments. The original tuple will not be modified. Check this out:

x = (1,2)
y = x
x += (3,)
x

(1, 2, 3)

In [47]:
x = (1,2)
y = x
x += (3,)
y

(1, 2)

In [48]:
# if you were to construct this same example with a list, y would also be updated:

x = [1,2]
y = x
x += (3,)
x

[1, 2, 3]

In [49]:
x = [1,2]
y = x
x += (3,)
y

[1, 2, 3]

### And that Tuples are hashable, Lists are not

In [50]:
# tuple is hashable

x = (1,2)
y = [1,2]
z = {}
z[x] = 3
z

{(1, 2): 3}

In [51]:
# lists are not (hashable)

x = (1,2)
y = [1,2]
z = {}
z[y] = 3
z

TypeError: unhashable type: 'list'

### Sets in Python

In [52]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [53]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [54]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [55]:
music_genres.add("Country")

In [56]:
music_genres

{'Country',
 'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [57]:
music_genres.add("Country")
music_genres

{'Country',
 'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [58]:
music_genres.remove("soul")
music_genres

{'Country',
 'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock'}

In [59]:
"soul" in music_genres

False

In [60]:
"rock" in music_genres

True

In [61]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [62]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [63]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [64]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [65]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [66]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [67]:
# Check if superset

set(album_set2).issuperset(album_set1)

False

In [68]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [69]:
# Check if subset

set(album_set1).issubset(album_set2)

False

In [70]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [71]:
fav_music = ['rap','house','electronic music', 'rap']

In [72]:
set(fav_music)

{'electronic music', 'house', 'rap'}

In [73]:
A = [1, 2, 2, 1]

In [74]:
B = [1, 2, 2, 1]

In [75]:
set(A)

{1, 2}

In [76]:
set(B)

{1, 2}

In [77]:
sum(B)

6

In [78]:
sum(A)

6

In [79]:
#sum of A is equal to sum of B

### If, then, else (elif) and everything else!

In [1]:
# If statements

age = 19

if age > 18:
    
        print("you can enter" )

print("move on")

you can enter
move on

In [3]:
age = 17
if age > 19:
        print("you can enter")
print("move on")

move on

In [4]:
age = 18

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [5]:
# if and else

age = 20

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

you can enter
move on

In [6]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [7]:
age = 17

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [8]:
age = 20

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

you can enter
move on

In [9]:
# Condition statement

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [10]:
# Condition statement

album_year = 1979
album_year = 1986

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

In [11]:
# Condition statement

album_year = 1986

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

In [12]:
# Condition statement with else

album_year = 1983

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [13]:
album_year = 1979

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

In [14]:
# Condition statement with Boolean

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [15]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [17]:
# Condition statement example

album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

In [20]:
album_rating = 8.5
if album_rating > 8:
        print ("This album is Amazing!")
else:
    print("This album is ok")

This album is Amazing!

In [21]:
album_rating = 7.9
if album_rating > 8:
        print ("This album is Amazing!")
else:
    print("This album is ok")

This album is ok

In [23]:

album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print ("this album came out already")

this album came out already

In [24]:
x="Go"

if(x=="Go"):

  print('Go ')

else:

  print('Stop')

print('Mike')

Go
Mike

In [25]:
x=1
x>-5

True

In [1]:
range(10,15)

range(10, 15)

### Loops in Python

In [3]:
list(range(3))

[0, 1, 2]

> ### How <mark style="background-color:yellow">for</mark> loop works

In [4]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [20]:
Genres=['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
N = len(Genres)

for i in range(N):
    print(Genres[i])

rock
R&B
Soundtrack
R&B
soul
pop

In [19]:
# for loop the prints out all the element between -5 and 5 using the range function.

for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [5]:
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [6]:
# Use for loop to change the elements in list

''''''
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])
    
''''''

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

''

In [7]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [8]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [21]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

> ### How <mark style="background-color:yellow">while</mark> loop works

In [16]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [12]:
import random
target_num, guess_num = random.randint(1, 10), 0
while target_num != guess_num:
    guess_num = int(input('Guess a number between 1 and 10 until you get it right : '))
print('Well guessed!')

Guess a number between 1 and 10 until you get it right : 5
Guess a number between 1 and 10 until you get it right : 6
Guess a number between 1 and 10 until you get it right : 7
Guess a number between 1 and 10 until you get it right : 6
Guess a number between 1 and 10 until you get it right : 5
Guess a number between 1 and 10 until you get it right : 4
Guess a number between 1 and 10 until you get it right : 3
Guess a number between 1 and 10 until you get it right : 2
Well guessed!

In [24]:
# Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. 
# If the score is less than 6, exit the loop.

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 1
Rating = PlayListRatings[0]

while(Rating >= 6):
    print(Rating)
    Rating = PlayListRatings[i]
    i = i+1

print("It took", i ,"repetitions to get out of loop.")

10
9.5
10
8
7.5
It took 6 repetitions to get out of loop.

In [26]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

i=0
while(squares[i]=='orange'):
    new_squares.append(squares[i])
    i=i+1
print(new_squares)

['orange', 'orange']